# **Bienvenido a TC2034**

Este notebook tiene por objetivo ayudarte con el uso de  pandas.

Pandas es una libreria para procesamiento de datos. Puedes imaginar los dataframes de Pandas como tablas, con filas y columnas.

**1.-** Importa `pandas` y carga un el dataset desde un archivo

In [ ]:
 import pandas as pd

# df es el dataframe
df = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv", header=None )

La funcion `display(df)` muestra el dataframe. Si hay muchas filas, se mostrara solo un extracto. Prueba esta funcion

La funcion `df.head()` devuelve las primeras filas del dataframe. Pruebala. Prueba la funcion `tail`. ¿Que devuelve? Prueba tambien `df.tail()` ¿Que hace?

Otras formas utiles para ver informacion del dataset son df.info() y `df.shape`. df.shape devuelve el numero de filas y columnas del dataframe. `df.info()` muestra informacion que incluye los nombres de cada columna, tipo y numero de datos non-null en cada una.

In [ ]:
# nota que shape no es una funcion

In [ ]:
 # prueba df.info()

# Acceder a columnas y filas

`df.columns` devuelve el nombre de las columnas. Usala junto a `display` para ver como se llaman las columnas del dataframe

Para ver los indices de las filas del dataframe puedes usar `df.index`

Con `df.iloc(i)` podemos acceder a la fila que tenga el indice `i` del dataframe. Por otro lado, `df.index[i]` devuelve el valor del index en la posion `i`. Nota que no son lo mismo.

# Eliminar filas o columnas

La funcion `df.drop( fila/columna, axis=0/1, inplace=True/False )` sirve para eliminar filas o columnas. El primer parametro es la `fila` o `columna` que queremos eliminar. El segundo es el `axis`, puede ser `0` (para filas) o `1` (para columnas). El tercer parametro inplace puede ser `True` (si la modificion se hara directo sobre `df`) o `False` (si no). En caso de que no, `drop` regresara un nuevo dataframe modificado.

In [ ]:
# se elimina la fila que tenga la posicion 1, directo sobre df
#
df.drop(df.index [ [1] ], axis=0, inplace=True)
df.head()

#   se elimina la columna 3, pero el resultado se relejara en df2 y no en df
df2 = df.drop(3, axis=1, inplace=False)
df2.head()
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1,31.37,NaN,NaN,NaN,NaN,NaN,NaN

# Renombrar columnas

Nota que las columnas se llaman `0, 1, 2`  etc. La fila 0 tiene los nombres apropiados: `Name, Platform, Year_of_Release,` etc. Podemos asignar a `df.columns` el valor de toda la primera fila, y luego elimarla.

In [ ]:

df.columns = df.iloc[0]
df.drop(df.index[0], axis=0, inplace=True )
display(df.head())

# Cuidado si ejecutas esta celda varias veces, seguiras eliminado filas

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1,31.37,NaN,NaN,NaN,NaN,NaN,NaN
6,Tetris,GB,1989,Puzzle,Nintendo,23.2,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN

Tambien se puede establecer que el nombre de las columnas esta en la primera fila desde el principio, al abrir el dataframe usando la opcion `header=0`

In [ ]:

df = pd.read_csv("/content/drive/MyDrive/2023 FebJun/TC2034 302/Video_Games_Sales_as_at_22_Dec_2016.csv", header=0 )
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

# Manejar columnas

Podemos acceder a columnas especificas por nombre, por ejemplo `df.Name` . El resultado sera otro dataframe. Tambien puedes seleccionar multiples columnas a la vez usando una lista, por ejemplo `df[['Name', 'Series']]`.

In [ ]:
res = df[['Name', 'Platform'] ] # res es un nuevo dataframe, que contiene solo las columnas Name y Platform de df

Los nombres de las columnas tambien se pueden usar para eliminarlas con `drop`.  Elimina la columna Global_Sales y muestra el resultado en otro dataframe.

In [ ]:
#drop

# Operaciones con columnas

Podemos hacer operaciones con columnas, tanto aritmeticas, como comparaciones. Por ejemplo, `df['NA_Sales'] + df['EU_Sales']` devolvera la suma de ambas columnas.

In [ ]:
df['NA_Sales'] + df['EU_Sales']

0        70.32
1        32.66
2        28.44
3        26.54
4        20.16
         ...
16714     0.00
16715     0.01
16716     0.00
16717     0.01
16718     0.00
Length: 16719, dtype: float64

# Agregar columnas nuevas

Para agregar columnas nuevas basta con asignarlas. Antes eliminaste la columna Global_Sales. Puedes recalcularla y aregarla de nuevo a partir de la suma de NA_Sales, EU_Sales, JP_Sales y Other_Sales.

In [ ]:
df['nueva_columna'] = df['Name']
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,Pokemon Red/Pokemon Blue

# Manejo de NaN

Algunas columnas tienen valores faltantes (NaN). Por ejemplo, la columna **Critic_Score** tiene celdas con `NaN`. Se puede averiguar cuales datos de **Critic_Score** usando la funcion `isna`. El resultado es una serie de booleanos, donde `True` indica cuales son `NaN`.  La funcion `isnull` es similar a `isna`.

In [ ]:
df['Critic_Score'].isna()

0        False
1         True
2        False
3        False
4         True
         ...
16714     True
16715     True
16716     True
16717     True
16718     True
Name: Critic_Score, Length: 16719, dtype: bool

Es usual elminar los NaN.  La funcion `drop` puede hacerlo si recibe los indices que cumplen la condicion de ser NaN.

In [ ]:
 df.drop( df[ df['Critic_Score'].isna() ].index  )

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E,New Super Mario Bros.
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E,Wii Play
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16700,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T,Breach
16701,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.00,0.01,53.0,4.0,NaN,NaN,Taito Corporation,E,Bust-A-Move 3000
16702,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.00,0.01,48.0,10.0,NaN,NaN,Interchannel-Holon,E,Mega Brain Boost
16706,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+,STORM: Frontline Nation
16709,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.00,0.01,63.0,6.0,5.8,8.0,DTP Entertainment,NaN,15 Days

La funcion `fillna` sustituye los `NaN` por otra cosa que se indique. Esta es su sintaxis: `df['columna'] = df['columna'].fillna('valor sustituto')`

La funcion mean sirve para obtener el promedio. Se puede usar sobre una columna `df['NA_Sales'].mean()`. Por default, `mean` omitira los NaN que existan.

In [ ]:
df['NA_Sales'].mean()

0.26333034272384714

Ahora usa `fillna` para sustituir los `NaN` de las columnas numericas

# Funciones estadisticas

Funciones como median min, max tambien estan disponibles:

In [ ]:
# si usamos estas funciones sobre todo el dataframe, se aplican a todas las cols. numericas
display( df.mean()  )

display( df.median()  )

display( df.max()  )

display( df.min()  )

<ipython-input-23-7567967e03bc>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display( df.mean()  )

Year_of_Release    2006.487356
NA_Sales              0.263330
EU_Sales              0.145025
JP_Sales              0.077602
Other_Sales           0.047332
Global_Sales          0.533543
Critic_Score         68.967679
Critic_Count         26.360821
User_Score            7.125046
User_Count          162.229908
dtype: float64

<ipython-input-23-7567967e03bc>:4: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display( df.median()  )

Year_of_Release    2007.00
NA_Sales              0.08
EU_Sales              0.02
JP_Sales              0.00
Other_Sales           0.01
Global_Sales          0.17
Critic_Score         71.00
Critic_Count         21.00
User_Score            7.50
User_Count           24.00
dtype: float64

<ipython-input-23-7567967e03bc>:6: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display( df.max()  )

Platform              XOne
Year_of_Release     2020.0
NA_Sales             41.36
EU_Sales             28.96
JP_Sales             10.22
Other_Sales          10.57
Global_Sales         82.53
Critic_Score          98.0
Critic_Count         113.0
User_Score             9.7
User_Count         10665.0
dtype: object

<ipython-input-23-7567967e03bc>:8: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display( df.min()  )

Platform             2600
Year_of_Release    1980.0
NA_Sales              0.0
EU_Sales              0.0
JP_Sales              0.0
Other_Sales           0.0
Global_Sales         0.01
Critic_Score         13.0
Critic_Count          3.0
User_Score            0.0
User_Count            4.0
dtype: object

# Ordenamiento

La funcion `sort_values` permite ordenar

In [ ]:
display( df.sort_values('NA_Sales') )  # nota que esto no modifica a df
display(df)

display( df.sort_values('NA_Sales', inplace=True) ) # esto si
display(df)

# sort_values tien otras opciones que puedes consultar aqui
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
8359,Bomberman B-Daman,SNES,1996.0,Shooter,Hudson Soft,0.00,0.00,0.17,0.00,0.17,NaN,NaN,NaN,NaN,NaN,NaN,Bomberman B-Daman
11304,Theme Park,SAT,1994.0,Simulation,Electronic Arts,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Theme Park
11301,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...,PS2,2007.0,Misc,Hackberry,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...
11298,SD Gundam G Generation Genesis,PS4,2016.0,Strategy,Namco Bandai Games,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,SD Gundam G Generation Genesis
11295,Toukiden 2,PS4,2016.0,Action,Tecmo Koei,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,Koei Tecmo Games,NaN,Toukiden 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN,Tetris
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN,Duck Hunt
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,Pokemon Red/Pokemon Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Samurai Warriors: Sanada Maru
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,LMA Manager 2007
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Haitaka no Psychedelica
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Spirits & Spells
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Winning Post 8 2016

None

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
8359,Bomberman B-Daman,SNES,1996.0,Shooter,Hudson Soft,0.00,0.00,0.17,0.00,0.17,NaN,NaN,NaN,NaN,NaN,NaN,Bomberman B-Daman
11304,Theme Park,SAT,1994.0,Simulation,Electronic Arts,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Theme Park
11301,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...,PS2,2007.0,Misc,Hackberry,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...
11298,SD Gundam G Generation Genesis,PS4,2016.0,Strategy,Namco Bandai Games,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,SD Gundam G Generation Genesis
11295,Toukiden 2,PS4,2016.0,Action,Tecmo Koei,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,Koei Tecmo Games,NaN,Toukiden 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN,Tetris
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN,Duck Hunt
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports